@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --grey: #fff;
  --d-grey: #aaa;
  --light: #f6f6f9;
  --dark: #363949;
  --light-primary: #cfe8ff;
  --primary: #1976d2;
  --danger: #d32f2f;
  --light-danger: #fecdd3;
  --light-warning: #fff2c6;
  --warning: #fbc02d;
  --success: #388e3c;
  --light-success: #bbf7d0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto", serif;
  font-size: 1rem;
}

input {
  padding: 0.45rem;
  font-family: "Roboto", serif;
  border-radius: 4px;
  border-style: none;
  font-size: 0.85rem;
}

label {
  margin-left: 0.65em;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  background-color: aliceblue;
  max-width: 1120px;
}

.main-title {
  margin: 0 auto 1.15em;
  font-size: 3.75rem;
  color: #4a4a4a;
  font-weight: 700;
}

.form-container {
  display: flex;
  padding: 2rem;
}

.btn-action {
  background-color: black;
  color: #fff;
  margin-left: -0.65em;
  cursor: pointer;
  font-size: 0.85rem;
}

.metric-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
}

.metric-sub-container {
  display: flex;
  background-color: var(--light);
  width: 30%;
  padding: 1.25rem;
  border-radius: 8px;
}

.icon {
  padding: 1.25rem;
  border-radius: 8px;
  background-color: #b13acf;
}

.text-container {
  margin-left: 0.55em;
}

.text-value {
  font-weight: 700;
  font-size: 1.3rem;
}

.footer {
  background-color: var(--light);
  padding: 4rem 1rem;
  display: flex;
  gap: 0.85em;
  flex-wrap: wrap;
}

.footer-title {
  width: 100%;
}
